.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
body{background-color: #2E2E2E; color:#E6E6E6;}
.message{
    white-space: pre-wrap;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}
